@font-face {
    font-family: "MinuetBold";
    src: url(Minuet\ W01\ Bold.ttf);
}

@font-face {
    font-family: "Peralta";
    src: url(Peralta-Regular.ttf);
}
#etch-a-sketch {
    display: flex;
    background-color: #e61b00;
    border-radius: 2%;
    height: 720px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 18px outset #ff4d35;
    -webkit-box-shadow: 5px 5px 15px rgb(255, 255, 255);
    -moz-box-shadow: 5px 5px 15px rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.674);
}

#ohio-art {
    height: 90px;
    width: auto;
    margin-left: 90px;
    margin-top: 25px;
    margin-right: 5px;
    -webkit-filter: drop-shadow(1px 1px 1px black);
    filter: drop-shadow(1px 1px 1px black);
}

h1 {
    color: #FFBB00;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 55px;
    margin-left: 15px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: x-large;
    height: fit-content;
    text-shadow: 1px 1px 1px black;
}

h2 {
    font-family: "MinuetBold";
    font-size: 65px;
    margin-left: 20px;
    color: #FFBB00;
    margin-top: 30px;
    height: fit-content;
    text-shadow: 1px 1px 1px black;
}

#R {
    width: 20px;
    height: 20px;
    margin-top: 52px;
    -webkit-filter: drop-shadow(1px 1px 1px black);
    filter: drop-shadow(1px 1px 1px black);
}

#knob1 {
    width: 140px;
    height: 140px;
    position: absolute; 
    bottom: 0;
    margin: 6px;
    -webkit-filter: drop-shadow(3px 3px 3px black);
    filter: drop-shadow(3px 3px 3px black);
}

#knob2 {
    width: 140px;
    height: 140px;
    position: absolute; 
    bottom: 0;
    right: 0;
    margin: 6px;
    -webkit-filter: drop-shadow(3px 3px 3px black);
    filter: drop-shadow(3px 3px 3px black);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff4d35;
    text-shadow: 1px 1px 1px #000000;
    position: absolute; 
    bottom: 45px;
    left: 156.074px;
}

#screen {
    background-color: #c7c7c7;
    height: 440px;
    width: 650px;
    border-radius: 5%;
    position: absolute;
    bottom: 155px;
    left: 125px;
    margin: auto;

    /* etch a sketch inner frame shadowing from @jennifer_dewalt */
    box-shadow: 0px 1px 0 rgba(255,255,255,0.08), 1px 0px 0 rgba(255,255,255,0.08),
    1px 2px 0 rgba(255,255,255,0.08), 2px 1px 0 rgba(255,255,255,0.08),
    2px 3px 0 rgba(255,255,255,0.08), 3px 2px 0 rgba(255,255,255,0.08),
    3px 4px 0 rgba(255,255,255,0.08), 4px 3px 0 rgba(255,255,255,0.08),
    4px 5px 0 rgba(255,255,255,0.08), 5px 4px 0 rgba(255,255,255,0.08),

    -0px -1px 0 rgba(0,0,0,0.05), -1px -0px 0 rgba(0,0,0,0.05),
    -1px -2px 0 rgba(0,0,0,0.05), -2px -1px 0 rgba(0,0,0,0.05),
    -2px -3px 0 rgba(0,0,0,0.05), -3px -2px 0 rgba(0,0,0,0.05),
    -3px -4px 0 rgba(0,0,0,0.05), -4px -3px 0 rgba(0,0,0,0.05),
    -4px -5px 0 rgba(0,0,0,0.05), -5px -4px 0 rgba(0,0,0,0.05);
}

#github {
    height: 22px;
    position: absolute; 
    bottom: 25px;
    right: 492px;
    -webkit-filter: drop-shadow(1px 1px 1px black);
    filter: drop-shadow(1px 1px 1px black);
}

#sophiawliu {
    font-family: "Peralta";
    color: #ff4d35;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
    position: absolute; 
    bottom: 25px;
    right: 362px;
}